# Dependências
node_modules/
**/node_modules/

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.local
**/.envs

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Prisma
**/src/generated/